#formulario2 {

    .codigo_input {

        border: 1px solid #80808075;
        border-radius: 5px;

        &:focus {
            border-color: #010d5a40 !important;
            box-shadow: 0 1px 1px #010d5a73 inset, 0 0 8px #010d5a40 !important;
            outline: 0 none;
        }
       
    }

}

textarea:focus {
    border-color: #010D5A !important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 4px #010D5A !important;
    outline: 0 none;
}

.mapa_bottom {
    bottom: -7px
}

.mapa {
    border: 0;
    width: 100vw;
}