.codigo_input {

    border: 1px solid rgba(255, 255, 255, 0.726);
    border-radius: 5px;
    text-align: center;

    &:focus {
        border-color: #010d5a40 !important;
        box-shadow: 0 1px 1px #010d5a73 inset, 0 0 8px #010d5a40 !important;
        outline: 0 none;
    }
   
}