body {
    font-family: Roboto;

    p {
        font-size: 16px;
    }

}

.page-item.active .page-link {
    border: none;
}

.box_shadow_menu {
    box-shadow: 0 2px 6px 0 black;
}

.margin_top_93px {
    margin-top: 93px;
}

.fondo_gris {
    background-color: #e6e6e6;
}

.dropdown-item:hover {
    color: white!important;
    text-decoration: none;
    background-color: $color_azul;
}


.my_100px {
    margin: 100px 0;
}

.text_align_last_center {
    text-align-last: center;
}


.color_azul {
    color: $color_azul;
}

.color_rojo {
    color: $color_rojo
}

@media (max-width: 768px) {

    .margen_contenedores_indexr_responsive {

        margin: 0 5%;

    }

    .el_libertador {
        height: 55px!important;
        width: 200px!important;
    }
    
}

@media (min-width: 320px) and (max-width:425px) {

    .el_libertador {
        width: 100%!important;
        height: initial!important;
    }
    
    
}


.margen_contenedores_index {
    margin: 0 3%;
}

.margen_contenedores_index2 {
    margin: 0 2%;
}

.margen_contenedores_indexr {
    margin: 100px 5%;
}


.color_negro {
    color: black;
}

.centrar_v {
    align-items: center;
}

li {
    list-style: none;
}

.padding_left_0 {
    padding-left: 0px;
}

.margin_100px {
    margin: 100px;
}

.carousel-control-prev {
    z-index:500;
}

.carousel-control-next {
    z-index:500;
}


::placeholder {
    color: orange;
}


#header_numeros{

    .barra_navegadora1{
        padding: 0 6%
    }

    background-color: $color_azul;
    width: 100%;
    height: 37px;
    color: white; 
    font-size: 14px;
    
    a{
        text-decoration: none;
        color: white;

        &:hover {
            opacity: 0.7;
        }
    }

    @media (max-width: 992px) {
        
        .celular1 {
            display: none;
        }

    }

}
 
#logo_y_navbar {

    transition: all 0.5s ease-in-out;

    .barra_navegadora2{
        margin: 0 5%;
    }

    a {

        text-decoration: none;
        color: black;
        font-size: 20px;

        &:hover {
            color: $color_azul;
        }
    }

    .margin_logo {
        width: 160px;
        height: 65px;
    }

    .logo_pse {
       
        cursor: pointer; 
        transition: all 250ms ease-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    li {
        position: relative;
    }

    li:hover::before {
        content:"";
        position: absolute;
        width: 100%; 
        height: 5px;
        margin-top: -5px;
        background-color: $color_rojo;
    }

    @media (max-width:991px) {
        li:hover::before {
            content:"";
            position: absolute;
            width: 0; 
            height: 5px;
            margin-top: -5px;
            background-color: $color_rojo;
        }
    }
}

.logo_y_navbar2 {

    position: fixed;
    top: 0;
    box-shadow: 2px 0px 1px 0px black;
    z-index: 200;    

    transition: all 0.5s ease-in-out;

    .barra_navegadora2{
        margin: 0 5%;
    }

    a {

        text-decoration: none;
        color: black;
        font-size: 20px;

        &:hover {
            color: $color_azul;
        }
    }

    .margin_logo {
        width: 160px;
        height: 65px;
    }

    .logo_pse {
       
        cursor: pointer; 
        transition: all 250ms ease-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    li {
        position: relative;
    }

    li:hover::before {
        content:"";
        position: absolute;
        width: 100%; 
        height: 5px;
        margin-top: -20px;
        background-color: $color_rojo;
    }
}

#imagenes_principales {

    margin-top: 142px;

    .div_carrusel_estilo {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 400;
    }

    .carousel-item {
        transition: transform 1s ease, opacity .5s ease-out
    }

    .boton_imagen {
        width: 30px;
        height: 30px;
        border-radius: 15%;
    }

    img {
        filter: brightness(0.5);
    }

    .animacion_texto {
        font-size: 40px;
        bottom: 100px;
        animation: texto_animado1 1.5s ease-in-out both;
        opacity: 0;


        @keyframes texto_animado1 {
            0%{

            }
            100%{
                bottom: 0%;
                opacity: 1;
            }
        }
    }

    .animacion_texto1 {

        animation: texto_animado1 1.5s 1s ease-in-out both;

    }
        


    @media (min-width:0px) and (max-width:720px) {
        .animacion_texto {
            font-size: 13px;
        }
    }

    @media (min-width:720px) and (max-width:1000px) {
        .animacion_texto {
            font-size: 20px;
        }
    }

    @media (min-width:1000px) and (max-width:1300px) {
        .animacion_texto {
            font-size: 30px;
        }
    }


    
}

    




.lupa {

    font-size: 25px;
    transition: all 200ms ease-out;

    &:hover {
        transform: scale(1.1);
        color: $color_rojo;
    }
}

.buscador {
    width: 15rem;
}

#botones_aliados {
    .botones_buscar {
        margin: 5px!important;
    }
}

.boton_buscar {
    background-color: $color_azul;
    color: white; 
    width: 120px;

    &:hover {
        background-color: $color_rojo;
        border-color: $color_rojo;
        color: white;
    }

    &:active {
        background-color: #a11216db;
        border-color: #a11216db;
        color: white;
    }

    &:focus {
        background-color: $color_rojo;
        border-color: $color_rojo;
        color: white;
    }

    
}


.boton_buscar2 {

    background-color: $color_azul;
    
    color: white; 
    width: 120px;

    &:hover {
        background-color: $color_rojo;
        border-color: $color_rojo;
        color: white;
    }

    &:active {
        background-color: orangered;
        border-color: orangered;
        color: white;
    }

    &:focus {
        background-color: $color_rojo;
        border-color: $color_rojo;
        color: white;
    }
    
}

.list-group-item.active {
    background-color: $color_rojo!important;
    border-color: $color_rojo!important;
    color: white;
}


#formulario {

    background-color: #e6e6e6;
    padding: 50px;

   

}

#propiedades_destacadas_menu {
    text-align: center;


    div {
        input {
            margin: 0 10px;
        }
    }
}

.estilosss {
    background-color: red;
    width: 100%;
    height: 300px;
}

#propiedades_destacadas_imagenes, #ultimas_noticias {

    div {

        .card {

            &:hover {
                cursor: pointer;
            }

        }

    }

    a {
        text-decoration: none;
        color: black;
    }
   
    img {
        filter: brightness(0.8);
        transition: all 250ms ease-out;
        
    
        &:hover {
            filter:brightness(0.6);
        }
    }

    .tipo_de_inmueble {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 5px;
        border-radius: 3px;
        text-align: center;
        width: 120px;
        font-size: 12px;
        color: white;
        background-color: #010D5A;
    }
    
    .tipo_de_renta {
        position: absolute;
        background-color: #A11216;
        color: white;
        padding: 5px;
        border-radius: 3px;
        text-align: center;
        width: 94px;
        font-size: 12px;
        bottom: -6px;
        right: 20px;
    }
    
    .precio_inmueble {
        color: white;
        position: absolute;
        font-size: 16px;
        bottom: 10px;
        left: 10px;
    }

    li {
        list-style: none;
    }

    .padding_left_0 {
        padding-left: 0px;
    }

}

#nuestros_servicios{

    a {
        text-decoration: none;
        color: gray;

        &:hover {
            filter: brightness(0.5);
        }
    }
    .tamaño_iconos_servicios {
        width: 30px; 
        height: 30px;
        color: $color_azul
    }


    .titulo_servicios {
        font-weight: bold;
        color: $color_rojo;
        font-size: 20px;
    }

    .texto_servicios {
        width: 410px;
        text-align: justify;
        margin-top: 10px;
        font-size: 13px;
    }

    .animacion_servicios {

        opacity: 0;

        @keyframes animacion_servicios {
            0% {
            }
            
            100% {
                opacity: 1;
            }
        }
        
    }


}


#fomulario_aseguradoras {

    a{
        text-decoration: none;
    }

    img {
        transition: all 500ms ease-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }


    .tipo_de_inmueble {
        position: absolute;
        margin: 5% 0 0 5%;
        background-color: #007bff6e;
        padding: 5px;
        border-radius: 3px;
        text-align: center;
        width: 120px;
        font-size: 12px;
    }
    
    .tipo_de_renta {
        position: absolute;
        background-color: #00000052;
        padding: 5px;
        border-radius: 3px;
        text-align: center;
        width: 94px;
        font-size: 12px;
        margin: 62% 0 0 68%;
    }
    
    .precio_inmueble {
        color: white;
        position: absolute;
        margin: 62% 0 0 5%;
        font-size: 22px;
    }


}


footer {

    background-color: $color_azul;
    color: white;

    a {
        color: white;

        &:hover {
            color: #a9a9a9a1!important;
        }
    }

    .parrafo_bogota {   
        transition: all 500ms ease-in-out; 
        position: relative;
        /* display: none; */
        /* bottom: -140px;   */      
    }

    @keyframes animacion_parrafo_bogota {
        0% {
            
        }

        100% {
            opacity: 1;
            bottom: 0;

        }
    }

    @keyframes animacion_parrafo_bogota2 {
        0% {
                
        }

        100% {
            opacity: 0;
            bottom: -140px;
        }
    }

    .parrafo_ibague {
        transition: all 500ms ease-in-out;
        /* display: none; */
        position: relative;
        /* bottom: -140px;   */
    }

    h2 {
        margin: 50px 0;
    }

    .padding_copyright {

        a {
            transition: all 150ms ease-in-out;
            color: gray;

            &:hover {
                color: $color_rojo!important;
            }
        }
        
    }

    .justificar {
        text-align: justify;
    }

    .margenx {
        margin: 0 5px;
    }

    .margen_flecha {
        margin-left: 100px;
    }


    .copyright {
        position: absolute;
        width: 100%;
    }

}

@media (max-width:849px) {

    .span_todos_los_derechos {
        display: block;
    }

}




#portafolio_servicios {


    background-image: url("../images/banner_servicios2.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    height: auto;

    h4 {
        font-size: 20px;
    }

    .hover_servicios {

        transition: all 250ms ease-in-out;
        cursor: pointer;

        &:hover{
            transform: scale(1.1);

            .color_azul{
                
                transition: all 250ms ease-in-out;
                color: $color_rojo;
    
            }
            
        }

       

    }

}

.imagenp {
    width:100%; 
    filter:brightness(0.3);
    z-index:1;
    height: 1101px;
}



#banner {

    position: relative;
    width: 100%;
    height:250px;
    margin-top: 142px;

    .titulos {
        position: absolute;
        color: white;
        z-index: 10;

        a{
            transition: all 250ms ease-in-out;
            color: white;
            text-decoration: none;

            &:hover {
                color: $color_rojo;
            }
        }
    }

    #banner_nosotros {
        background-image: url(../images/1.jpg);
    }

    #banner_inmuebles {
        background-image: url(../images/2.jpg);
    }

    #banner_contactanos{
        background-image: url(../images/3.jpg);
    }

    #banner_detalle_inmueble {
        background-image: url(../images/4.jpg);
    }

    .imagen_detalles {
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
        filter: brightness(0.4);
    }
}



.subir {
    width: 25px !important;
    display: none;
    background-color: #010D5A;
    color: #CDCDCE;
    font-size: 12px;
    cursor: pointer;
    position: fixed;
    bottom: 90px;
    height: 25px;
    right: 20px;
    box-shadow: -1px 0px 15px 1px #CDCDCE;
    z-index: 200;
    border-radius: 4px;

    &:active {
        background-color: $color_rojo;
        border-color: $color_rojo;
    }
 }

 .icono_facebook {

     color: #354E87;
     transition: all 250ms ease-in-out;

     &:hover {
        transform: scale(1.1);
    }
 }

 .div_insta {

    transition: all 250ms ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
     
 }

 .redes_footer {
     display: none!important;
 }

 @media (max-width: 768px) {
    .redes_footer {
        display: flex!important;
    }
     
 }

 

