p {
    text-align: justify;
}

.margen_contenedores_index {
    margin: 0 3%;
}

#imagen_nosotros {

    position: relative;

    .imagen {
        width: 100%;
        height: 280px;
        filter: brightness(0.5);
    }
    

    h1{
        color: white;
        position: absolute;
        z-index: 100;
    }

}

#nosotros {
    
    img {
        width: 100%;
    }



}

.after_nosotros::before {

    position: absolute;
    content: "";
    width: 55px;
    height: 3px;
    top: 86px;
    margin-left: 40px;
    background-color: #A11216;

}

.after_nosotrosm:before {

    position: absolute;
    content: "";
    width: 55px;
    height: 3px;
    top: 36px;
    margin-left: 24px;
    background-color: #A11216;

}


.after_nosotrosv:before {

    position: absolute;
    content: "";
    width: 55px;
    height: 3px;
    top: 36px;
    margin-left: 19px;
    background-color: #A11216;

}


#contador_estadisticas {

    position: relative; height: 400px;

    .c1 {
        z-index: 100;
        position: absolute;
        color: white;
    }

    .imagen {
        height: 350px; 
        width: 100%;
        filter: brightness(0.6); 
    }

}

#valores_corporativos {

    background-color: #ebede8;

    .fondo_valores {
        background-color: white;
    }

}

  
